[Unit]
Description=Kinect 360 Remold V4L2 virtual camera
PartOf=kinect360-remold.target
After=kinect360-remold-camera.service
Requires=kinect360-remold-camera.service

[Service]
Type=simple
ExecStart=/usr/libexec/kinect360-remold/kinect360-remold-v4l2
Restart=always
RestartSec=1

[Install]
WantedBy=kinect360-remold.target
